{
  "extends": [
    "airbnb-base",
    "plugin:prettier/recommended",
    "some-other-config-you-use",
    "prettier"
  ],
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "quotes": ["error", "double"],
  }
}
